{% import "pages/home/cards.twig" as cards %}
{% extends "base.twig" %}
{% block content %}
    <blockquote>
        <h1><i class="medium material-icons">apps</i>Tabla de contenidos</h1>
    </blockquote>
    <div class="divider"></div>
    <div class="row">
        <div class="col s6">
            {{ cards.titled({'title': 'Usuarios', 'icon': 'account_box', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'link': { 'url': 'user/', 'title': 'Administrar usuarios' }, 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
        <div class="col s6">
            {{ cards.titled({'title': 'Administracion', 'icon': 'build', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'link': { 'url': 'page', 'title': 'Configuracion de la pagina' }, 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col s4">
            {{ cards.horizontal({'title': 'Carreras', 'icon': 'directions_run', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'url': 'formats/carreras/', 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
        <div class="col s4">
            {{ cards.horizontal({'title': 'Peds', 'icon': 'business', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'url': 'formats/peds/', 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
        <div class="col s4">
            {{ cards.horizontal({'title': 'Turnos', 'icon': 'donut_small', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'url': 'formats/turnos/', 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
    </div>
    <div class="divider"></div>
    <h1 class="header">Formatos</h1>
    <div class="row">
        <div class="col s3">
            {{ cards.normal({'title': 'Formato', 'icon': 'assignment_turned_in', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'url': '#', 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
        <div class="col s3">
            {{ cards.normal({'title': 'Formato', 'icon': 'assignment_turned_in', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'url': '#', 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
        <div class="col s3">
            {{ cards.normal({'title': 'Formato', 'icon': 'assignment_turned_in', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'url': '#', 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
        <div class="col s3">
            {{ cards.normal({'title': 'Formato', 'icon': 'assignment_turned_in', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'url': '#', 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            {{ cards.normal({'title': 'Formato', 'icon': 'assignment_turned_in', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'url': '#', 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
        <div class="col s3">
            {{ cards.normal({'title': 'Formato', 'icon': 'assignment_turned_in', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'url': '#', 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
        <div class="col s3">
            {{ cards.normal({'title': 'Formato', 'icon': 'assignment_turned_in', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'url': '#', 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
        <div class="col s3">
            {{ cards.normal({'title': 'Formato', 'icon': 'assignment_turned_in', 'content': 'I am a very simple card. I am good at containing small bits of information.', 'url': '#', 'help': 'Here is some more information about this product that is only revealed once clicked on.' }) }}
        </div>
    </div>
{% endblock %}