{% macro titled(card) %}
    <h2 class="header">{{ card.title }}</h2>
    <div class="card horizontal">
        <div class="card-image waves-effect waves-block waves-light">
            <i class="activator large material-icons">{{ card.icon }}</i>
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>{{ card.content }}</p>
            </div>
            <div class="card-action">
                <a href="{{ card.link.url }}"><i class="material-icons">{{ card.icon }}</i>{{ card.link.title }}</a>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ card.title }}<i class="material-icons right">close</i></span>
            <p>{{ card.help }}</p>
        </div>
    </div>
{% endmacro %}
{% macro horizontal(card) %}
    <div class="card horizontal">
        <div class="card-image waves-effect waves-block waves-light">
            <i class="activator large material-icons">{{ card.icon }}</i>
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>{{ card.content }}</p>
            </div>
            <div class="card-action">
                <a href="{{ card.url }}"><i class="material-icons">{{ card.icon }}</i>{{ card.title }}</a>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ card.title }}<i class="material-icons right">close</i></span>
            <p>{{ card.help }}</p>
        </div>
    </div>
{% endmacro %}
{% macro normal(card) %}
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <i class="activator large material-icons">{{ card.icon }}</i>
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p>{{ card.content }}</p>
            </div>
            <div class="card-action">
                <a href="{{ card.url }}"><i class="material-icons">{{ card.icon }}</i>{{ card.title }}</a>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ card.title }}<i class="material-icons right">close</i></span>
            <p>{{ card.help }}</p>
        </div>
    </div>
{% endmacro %}