{% extends "base.twig" %}
{% import "pages/formats/formats_elements.twig" as element %}
{% block content %}
    <blockquote>
        <h1>
            <i class="material-icons left medium">add_box</i>
            Por favor proporciona la información que se te solicita
        </h1>
    </blockquote>
    <form role="form" action="formato/12/add/" method="POST">
        <table class="responsive-table centered">
            <thead>
                <tr>
                    <th>Sede/PED</th>
                    <th>Año Lectivo</th>
                    <th>Trimestre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ element.input_select_peds('ped_id', rec1.peds.list) }}
                    </td>
                    <td>
                        {{ element.input_select_anio_lectivo('anio_lectivo_value') }}
                    </td>
                    <td>
                        {{ element.input_select_trimestre('trimestre_value') }}
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="row">
            <div class="col s12">
                <div style="position: relative; height: 70px;">
                    <div class="fixed-action-btn horizontal click-to-toggle" style="z-index: 1; position: absolute; display: inline-block; right: 0;">
                        <a class="btn-floating btn-large teal">
                            <i class="large material-icons">menu</i>
                        </a>
                        <ul>
                            <li>
                                <a class="btn-autofill autofill-clear btn-floating red tooltipped" data-position="bottom" data-tooltip="Limpiar">
                                    <i class="material-icons">all_out</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-autofill autofill-carreras btn-floating red tooltipped" data-position="bottom" data-tooltip="Añadir carreras">
                                    <i class="material-icons">all_out</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-autofill autofill-turnos btn-floating red tooltipped" data-position="bottom" data-tooltip="Añadir Turnos">
                                    <i class="material-icons">all_out</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-autofill autofill-anio_carrera btn-floating red tooltipped" data-position="bottom" data-tooltip="Añadir Años">
                                    <i class="material-icons">all_out</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <table class="responsive-table centered" id="table-data">
            <thead>
                <tr>
                    <th>Carrera</th>
                    <th>Turno</th>
                    <th>Año de la carrera</th>
                    <th>Matricula Final Varones Rurales</th>
                    <th>Matricula Final Varones Urbanos</th>
                    <th>Matricula Final Mujeres Rurales</th>
                    <th>Matricula Final Mujeres Urbanos</th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ element.input_select_carrera('carrera_id[]', rec1.carreras.list) }}
                    </td>
                    <td>
                        {{ element.input_select_turno('turno_id[]', rec1.turnos.list) }}
                    </td>
                    <td>
                        {{ element.input_select_anio_carrera('anio_carrera[]') }}
                    </td>
                    <td>
                        <div class="input-field">
                            <i class="material-icons prefix"></i>
                            <input name="varones_rurales[]" id="varones_rurales" type="number" class="validate" value='0' required>
                            <label>Varones Rurales</label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <i class="material-icons prefix"></i>
                            <input name="varones_urbanos[]" id="varones_urbanos" type="number" class="validate" value='0' required>
                            <label>Varones Urbanos</label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <i class="material-icons prefix"></i>
                            <input name="mujeres_rurales[]" id="mujeres_rurales" type="number" class="validate" value='0' required>
                            <label>Mujeres Rurales</label>
                        </div>
                    </td>
                    <td>
                        <div class="input-field">
                            <i class="material-icons prefix"></i>
                            <input name="mujeres_urbanos[]" id="mujeres_urbanos" type="number" class="validate" value='0' required>
                            <label>Mujeres Urbanos</label>
                        </div>
                    </td>
                    <td>
                        <a class="tr_clone_add waves-effect waves-teal btn-floating blue lighten-3">
                            <i class="material-icons btn-add">add</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="input-field">
            <button class="btn-large waves-effect waves-light" type="submit" name="action">
                Aceptar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
    <br>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="res/js/formats_validation.js"></script>
{% endblock %}