<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
            <title>{{ rec1.page.title }}</title>
            {% if rec1.page.url %}
                <BASE href="http://{{ rec1.page.url }}"/>
            {% endif %}

            <!-- CSS  -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
            <link href="res/libs/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
            <link href="res/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

            <!-- Meta -->
            <meta name="description" content=""/>
            <meta name="author" content="Hendell Jonathan Porras Perez"/>

            <link rel="icon" href="gfx/img/icon.png"/>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {{ include('navbar/navbar.twig') }}
        {% endblock %}
        <div class="container base-container">
            {% block content %}
                {{ include('container.twig') }}
            {% endblock %}
            {% if rec1.debug.enable %}
                {% block debuglogger %}
                    {% if rec1.debug.logs %}
                        {{ include('debug/logger.twig') }}
                    {% endif %}
                {% endblock %}
            {% endif %}
        </div><!-- /.container -->
        {% block footer %}
            {{ include('footer.twig') }}
        {% endblock %}

        <div class="fixed-action-btn">
            <a class="tooltipped btn-floating btn-large waves-effect waves-light red" id="back-to-top" style="display: none;" data-position="left" data-delay="50" data-tooltip="Click aqui para ir arriba">
                <i class="material-icons">navigation</i>
            </a>
        </div>

        {% block scripts %}
            <!--  Scripts-->
            <script src="res/libs/jquery/jquery.min.js"></script>
            <script src="res/libs/materialize/js/materialize.min.js"></script>
            <script src="res/js/script.js"></script>
        {% endblock %}
    </body>
</html>