<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
            <title>{{ page_title }}</title>

            <!-- CSS  -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link href="res/libs/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
            <link href="res/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

            <!-- Meta -->
            <meta name="description" content="">
            <meta name="author" content="Hendell Jonathan Porras Perez">

            <link rel="icon" href="icon.png">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {{ include('navbar/navbar.twig') }}
        {% endblock %}
        <div class="container base-container">
            {% block content %}
                {{ include('container.twig') }}
            {% endblock %}
            {% block debuglogger %}
                {% if logs %}
                    {{ include('debug/logger.twig') }}
                {% endif %}
            {% endblock %}
        </div><!-- /.container -->
        {% block footer %}
            {{ include('footer.twig') }}
        {% endblock %}
        <!--  Scripts-->
        <script src="res/libs/jquery/jquery.min.js"></script>
        <script src="res/libs/materialize/js/materialize.js"></script>
        <script src="res/js/script.js"></script>
    </body>
</html>